<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href=""><img src="logo_240221.svg" alt="HD_AMR" class="brand-logo" /></a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler"/>

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="teaching">
                <span class="bi bi-pencil-square-nav-menu" aria-hidden="true"></span> Teaching
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="cobot">
                <span class="bi bi-robot-nav-menu" aria-hidden="true"></span> Cobot
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="camera">
                <span class="bi bi-camera-video-fill-nav-menu" aria-hidden="true"></span> Camera
            </NavLink>
        </div>
    </nav>
</div>